sujay-cts-adf/pipeline/PL_Sujay_IDL_Multi.json
{
	"name": "PL_Sujay_IDL_Multi",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tablelList_sujay",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LU_Old_WMA",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * from watermarktable where TableName  =  '@{item().TABLE_NAME}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Sujay_SQL_WMT",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LU_New_WMA",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Sujay_SQL_Source",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LU_Old_WMA",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LU_New_WMA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"tablelList_sujay": {
				"type": "array",
				"defaultValue": [
					{
						"TABLE_NAME": "customer_table_sujay",
						"WaterMark_Column": "LastModifytime",
						"TableType": "DataTypeforCustomerTable_sujay",
						"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table_sujay"
					},
					{
						"TABLE_NAME": "project_table_sujay",
						"WaterMark_Column": "Creationtime",
						"TableType": "DataTypeforProjectTable_sujay",
						"StoredProcedureNameForMergeOperation": "usp_upsert_project_table_sujay"
					}
				]
			}
		},
		"annotations": []
	}
}