pipeline/IDL_onkar.json
{
	"name": "IDL_onkar",
	"properties": {
		"activities": [
			{
				"name": "iteratesqltable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableList_onkar",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup_Oldwatermarkactivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from watermarktable_onkar where TableName  =  '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "watermarkdataset_onkar",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup_Newwatermarkactivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_onkar_sql_src",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_Oldwatermarkactivity",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup_Newwatermarkactivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('Lookup_Oldwatermarkactivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('Lookup_Newwatermarkactivity').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": {
										"value": "@{item().StoredProcedureNameForMergeOperation}",
										"type": "Expression"
									},
									"sqlWriterTableType": {
										"value": "@{item().TableType}",
										"type": "Expression"
									},
									"storedProcedureTableTypeParameterName": {
										"value": "@{item().StoredProcedureNameForMergeOperation}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_onkar_sql_src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_sql_onkar_sink",
									"type": "DatasetReference",
									"parameters": {
										"SinkTableName": {
											"value": "@{item().Table_Name}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark_onkar]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableName": {
										"value": {
											"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_sql_onkar_destination",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableList_onkar": {
				"type": "array",
				"defaultValue": [
					{
						"TABLE_NAME": "customer_table_onkar",
						"WaterMark_Column": "LastModifytime",
						"TableType": "DataTypeforCustomerTable_onkar",
						"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table_onkar"
					},
					{
						"TABLE_NAME": "project_table_onkar",
						"WaterMark_Column": "Creationtime",
						"TableType": "DataTypeforProjectTable_onkar",
						"StoredProcedureNameForMergeOperation": "usp_upsert_project_table_onkar"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-13T12:04:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}