pipeline/lookup_activity.json
{
	"name": "lookup_activity",
	"properties": {
		"activities": [
			{
				"name": "lu_old_wm_activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lu_new_wm_activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from dst_arnab",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_arnab_sql_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental_copy_activity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lu_old_wm_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lu_new_wm_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dst_arnab\nwhere \n\tLastModifytime > '@{activity('lu_old_wm_activity').output.firstRow.WatermarkValue}' \n\tand \n    LastModifytime <= '@{activity('lu_new_wm_activity').output.firstRow.NewWatermarkvalue}'   ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_arnab_sql_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_gen2_arnab_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "stored_procedure_to_write_wm_activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incremental_copy_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_arnab]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('lu_new_wm_activity').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@activity('lu_old_wm_activity').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_arnab_sql_idl_wm",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "01_arnab_lu"
		},
		"annotations": []
	}
}