pipeline/Lookup_WMT.json
{
	"name": "Lookup_WMT",
	"properties": {
		"activities": [
			{
				"name": "Lookup old WMT data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Priya_source_WMSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup dst for New",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from dbo.dst_priya",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_priya_DST_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup old WMT data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup dst for New",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.dst_Priya\nwhere \n\tLastModifytime > '@{activity('Lookup old WMT data').output.firstRow.WatermarkValue}' \n\tand \nLastModifytime <= '@{activity('Lookup dst for New').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_priya_DST_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Priya_Gen2_output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "exec update sp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incremental copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_priya]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('Lookup dst for New').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@activity('Lookup old WMT data').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Priya_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}