pipeline/Lookup_IL_SP.json
{
	"name": "Lookup_IL_SP",
	"properties": {
		"activities": [
			{
				"name": "lookupnewwatermarkactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from dst_aditya",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Aditya_SQL_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lookupoldwatermarkactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Aditya_SQL_WM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data incremental load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookupoldwatermarkactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookupnewwatermarkactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dst_aditya\nwhere \n  LastModifytime > '@{activity('lookupoldWatermarkactivity').output.firstRow.WatermarkValue}' \n  and \nLastModifytime <= '@{activity('lookupnewwatermarkactivity').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Aditya_SQL_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Aditya_adls",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure Aditya",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data incremental load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_Aditya]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('lookupnewwatermarkactivity').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@activity('lookupoldwatermarkactivity').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Aditya_SQL_IDL_DW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}