pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_OldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from dst_anu\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_anu_sql_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_NewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermark_value_anu",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental_copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_wm_anu]",
					"storedProcedureParameters": {
						"WatermarkValue": {
							"value": "@activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue",
							"type": "Datetime"
						},
						"TableName": {
							"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.TableName",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_anu_sql_IDL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Incremental_copydata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_OldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_NewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.dst_anu\nwhere \n\tLastModifytime > '@{activity('Lookup_OldWaterMarkActivity').output.firstRow.WatermarkValue}' \n\tand \nLastModifytime <= '@{activity('Lookup_NewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_anu_sql_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_gen2_anu_wma",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"WatermarkValue": {
				"type": "string"
			}
		},
		"annotations": []
	}
}