pipeline/Pipeline.json
{
	"name": "Pipeline",
	"properties": {
		"activities": [
			{
				"name": "IterateSql",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tablelist_anu",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup_Oldwatermarkactivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from watermarktable_anu where TableName  =  '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "WatermarkTable",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup_Newwatermarkactivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}\n ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SourceDataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data watermarkactivity",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_Oldwatermarkactivity",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup_Newwatermarkactivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('Lookup_Oldwatermarkactivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('Lookup_Newwatermarkactivity').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": {
										"value": "@{item().StoredProcedureNameForMergeOperation}",
										"type": "Expression"
									},
									"sqlWriterTableType": {
										"value": "@{item().TableType}",
										"type": "Expression"
									},
									"storedProcedureTableTypeParameterName": {
										"value": "@{item().TABLE_NAME}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SinkDataset",
									"type": "DatasetReference",
									"parameters": {
										"SinkTable": "@dataset().SinkTableName"
									}
								}
							]
						},
						{
							"name": "Sp-incremental_wma_multiple",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data watermarkactivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_upsert_customer_table_anu]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('Lookup_Newwatermarkactivity').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableName": {
										"value": {
											"value": "@activity('Lookup_Oldwatermarkactivity').output.firstRow.WatermarkValue",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "anu_sql_destination_idl",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableList_Anu": {
				"type": "array",
				"defaultValue": [
					{
						"TABLE_NAME": "customer_table_anu",
						"WaterMark_Column": "LastModifytime",
						"TableType": "DataTypeforCustomerTable_anu",
						"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table_anu"
					},
					{
						"TABLE_NAME": "project_table_anu",
						"WaterMark_Column": "Creationtime",
						"TableType": "DataTypeforProjectTable_anu",
						"StoredProcedureNameForMergeOperation": "usp_upsert_project_table_anu"
					}
				]
			}
		},
		"annotations": []
	}
}