adf-everyone/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-everyone"
		},
		"LS_Sujay_SQL_IDLWM_Destination_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Sujay_SQL_IDLWM_Destination'"
		},
		"LS_Sujay_SQL_IDLWM_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Sujay_SQL_IDLWM_Source'"
		},
		"LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver4everyone.database.windows.net"
		},
		"LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "idl-wm-destinationdb"
		},
		"LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver4everyone.database.windows.net"
		},
		"LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "idl-wm-sourcedb"
		},
		"LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sujay_IDL_Multi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablelList_sujay",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LU_Old_WMA",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from watermarktable_sujay where TableName = '@{item().TABLE_NAME}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Sujay_SQL_WMT",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "LU_New_WMA",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Sujay_SQL_Source",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "IncrementalCopy",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LU_Old_WMA",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LU_New_WMA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LU_Old_WMA').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LU_New_WMA').output.firstRow.NewWatermarkvalue}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameforMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Sujay_SQL_Source",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Sujay_SQL_Destination",
											"type": "DatasetReference",
											"parameters": {
												"SinkTable": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_WriteWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IncrementalCopy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_write_watermark_sujay]",
										"storedProcedureParameters": {
											"LastModifiedtime": {
												"value": {
													"value": "@{activity('LU_New_WMA').output.firstRow.NewWatermarkvalue}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"TableName": {
												"value": {
													"value": "@{activity('LU_Old_WMA').output.firstRow.TableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Sujay_SQL_IDLWM_Destination",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"tablelList_sujay": {
						"type": "array",
						"defaultValue": [
							{
								"TABLE_NAME": "customer_table_sujay",
								"WaterMark_Column": "LastModifytime",
								"TableType": "DataTypeforCustomerTable_sujay",
								"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table_sujay"
							},
							{
								"TABLE_NAME": "project_table_sujay",
								"WaterMark_Column": "Creationtime",
								"TableType": "DataTypeforProjectTable_sujay",
								"StoredProcedureNameForMergeOperation": "usp_upsert_project_table_sujay"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Sujay_SQL_WMT')]",
				"[concat(variables('factoryId'), '/datasets/DS_Sujay_SQL_Source')]",
				"[concat(variables('factoryId'), '/datasets/DS_Sujay_SQL_Destination')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Sujay_SQL_IDLWM_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sujay_SQL_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Sujay_SQL_IDLWM_Destination",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SinkTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().SinkTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Sujay_SQL_IDLWM_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sujay_SQL_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Sujay_SQL_IDLWM_Source",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Sujay_SQL_IDLWM_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sujay_SQL_WMT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Sujay_SQL_IDLWM_Destination",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable_sujay"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Sujay_SQL_IDLWM_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_SQL_IDLWM_Destination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_server')]",
					"database": "[parameters('LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Sujay_SQL_IDLWM_Destination_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Sujay_SQL_IDLWM_Destination_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sujay_SQL_IDLWM_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_server')]",
					"database": "[parameters('LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Sujay_SQL_IDLWM_Source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Sujay_SQL_IDLWM_Source_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}